<mat-drawer-container class="h-full" autosize>
  <mat-drawer #drawer class="w-[20%] max-sm:w-[70%]" mode="side">
    <div class="w-auto flex justify-between items-center px-1.5">
      <img src="../../../../assets/logo.svg" alt="logo" class="h-10 w-10" />
      <mat-icon>account_circle</mat-icon>
    </div>
    <div class="text-center">
      <img class="h-16 mx-auto mt-5 w-auto rounded-full" src="../../../../../assets/IMG_20230510_103258.jpg" alt="">
        <p class="py-2 text-lg">Sumit Patel</p>
    </div>
    <div class="flex flex-col justify-between flex-1 mt-6">
      <nav>
          <a *ngFor="let nav of List" class="flex items-center px-4 py-2 text-gray-700 bg-gray-100 rounded-md dark:bg-gray-800 dark:text-gray-200" href="#">
              <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                      d="M19 11H5M19 11C20.1046 11 21 11.8954 21 13V19C21 20.1046 20.1046 21 19 21H5C3.89543 21 3 20.1046 3 19V13C3 11.8954 3.89543 11 5 11M19 11V9C19 7.89543 18.1046 7 17 7M5 11V9C5 7.89543 5.89543 7 7 7M7 7V5C7 3.89543 7.89543 3 9 3H15C16.1046 3 17 3.89543 17 5V7M7 7H17"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>

              <span class="mx-4 font-medium"> {{nav.name}}</span>
          </a>
          </nav>
   
    </div> 
     
  </mat-drawer>
  <mat-drawer-content class="">
    <app-top-menu (layout)="toggleside()" (toggle)="drawer.toggle()"></app-top-menu>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
